# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Editor settings
.vscode/
.idea/

# Logs
*.log

# Dataset lớn (không đưa lên GitHub)
Dataset/

# Model & reports nặng (không đưa lên GitHub)
models/
reports/
*.safetensors
*.pt
*.bin