# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Editor settings
.vscode/
.idea/

# Dataset lớn (không đưa lên GitHub)
Dataset/

# Model nặng (không đưa lên GitHub)
models/
*.safetensors
*.pt
*.bin

# Logs
*.log